In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [14]:
final=pd.DataFrame()
for j in range(1,1001):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    url=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers=headers).text
    doc=BeautifulSoup(url,"lxml")
    struc=BeautifulSoup( doc.prettify(),"lxml")
    
# title=struc.find(id='productTitle').get_text()
# price=struc.find(id='priceblock_dealprice').get_text()
# print(title)
# print(price)

[<h1 class="bold-title-l title">
         List of companies in India
        </h1>]

In [15]:
for i in struc.find_all('h2'):
    print(i.text.strip())

DKM Online
KP GROUP
Rezayat Group
Fourth Dimension...
DELTA
ERD Technologies
OSP Labs
Renu Electronics
Autoprint Machin...
Shiv Nadar Schoo...
World Health Par...
Ravenbhel Health...
Jaika Motors
Shiksha.com
Triumph Internat...
Great Eastern Sh...
Menon & Menon
iQuanti
Harbinger Group
eGain Communicat...
DP Chocolates
Indus Hospital
VPS Rockland
Vijayasri Organi...
Rural Developmen...
TechnoServe
Itelligence
BI WORLDWIDE
Brilliant Bio Ph...
Geological Surve...

In [16]:
for i in struc.find_all('p',class_='rating'):
    print(i.text.strip())

4.2
3.9
4.3
3.8
4.4
3.6
4.3
3.7
4.2
4.0
4.4
3.6
4.3
4.0
4.1
4.2
3.6
4.1
4.3
3.8
4.0
4.0
3.8
3.8
4.2
4.0
4.0
4.2
4.0
3.0

In [25]:
final=pd.DataFrame()
for j in range(1,1001):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    url=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers=headers).text
    doc=BeautifulSoup(url,"lxml")
    struc=BeautifulSoup( doc.prettify(),"lxml")
    company=struc.find_all('div',class_='company-content-wrapper')
    name=[]
    ratings=[]
    reviews=[]
    ownership=[]
    hq=[]
    years=[]
    emp_count=[]
    
    for i in company:
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)

        try:
            ratings.append(i.find('p',class_='rating').text.strip())
        except:
            ratings.append(np.nan)

        try:
            reviews.append(i.find('a' , class_='review-count').text.strip())
        except:
            reviews.append(np.nan)

        try:

            ownership.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        except:
            ownership.append(np.nan)
        try:
            hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            years.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        except:
            years.append(np.nan)
        try:
            emp_count.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
            emp_count.append(np.nan)
    
    
    
    df=pd.DataFrame({'name':name,'ratings':ratings,'ownership':ownership,'hq':hq,'years':years,'emp_count':emp_count})
    final=final.append(df,ignore_index=True)

C:\Users\dubey\AppData\Local\Temp\ipykernel_36160\233627761.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [31]:
final.head()

,name,ratings,ownership,hq,years,emp_count
0,TCS,3.9,Public,"Mumbai,Maharashtra + 268 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,Public,Dublin + 131 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,4.0,Private,Teaneck. New Jersey. + 101 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,Public,"Mumbai,Maharashtra + 1051 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,Public,"Mumbai,Maharashtra + 1233 more",28 years old,50k-1 Lakh Employees (India)

In [19]:
name

[<function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>]

In [11]:
import csv